
@{
    ViewData["Title"] = "About";
}
<hr />
<br />
<h2 style="text-align:center">Sobre MonumentPlay</h2>

<p style="margin-left:10%;margin-right:10%; text-align:center">
    Una seña de identidad intransferible: Nuestro compromiso con los clientes, una atención exquisita y un trato humano. Haz el viaje qu
    e desees y siente nuestro respaldo allí donde estés.Como viajeros experimentados tenemos consejos y recomendaciones que ayudarán a que tus próximas vacaciones sean inolvidables. ¡Explora y toma notas!
</p>
<br />
<hr />

<div class="ftco-service-image-1 pb-5 ">
    <div class="container">
        <div class="owl-carousel owl-all" style="background-color:#e6e2d3">
            <div class="service text-center">
                <div class="px-md-3 margen">
                    <h3><a href="#">Inspiración</a></h3>
                    <p>Justo lo que necesitas si eres un viajero empedernido: un poco de inspiración para tu próximo viaje. Echa un vistazo a las mejores fotos y curiosea nuestros emocionantes posts de viajes creados especialmente para ti.</p>
                </div>
                <a href="#"><img src="https://image.freepik.com/foto-gratis/pareja-sonriente-vacaciones-ciudad_23-2147827995.jpg" alt="Image" class="img-fluid"></a>

            </div>
            <div class="service text-center">
                <div class="px-md-3 margen">
                    <h3><a href="#">A Bordo</a></h3>
                    <p>Desde qué aerolíneas ofrecen Wi-Fi gratis en su vuelo, hasta cómo hacer el check-in y llevar tu guitarra en el avión. ¡Tenemos una entrada en el blog para todas tus preguntas sobre compañías aéreas!</p>
                </div>
                <a href="#"><img src="https://saposyprincesas.elmundo.es/wp-content/uploads/2014/06/vacaciones-familia-consejos.jpg" alt="Image" class="img-fluid"></a>

            </div>
            <div class="service text-center">
                <div class="px-md-3 margen">
                    <h3><a href="#">Destinos</a></h3>
                    <p>Trotar por el mundo desde la comodidad de tu casa es posible. Navega a través de nuestros destinos e inspírate con ideas, consejos e increíbles fotos para planificar tu próximo viaje.</p>
                </div>
                <a href="#"><img src="https://static1.elcorreo.com/www/multimedia/201806/21/media/cortadas/vaciones-familia-kzW-U60114471916qFD-624x385@El%20Correo.jpg" alt="Image" class="img-fluid"></a>

            </div>
            <div class="service text-center">
                <div class="px-md-3 margen">
                    <h3><a href="#">Festivales</a></h3>
                    <p>Descubre los festivales de música más populares, las mejores fiestas locales y los eventos especiales de alrededor del mundo.</p>
                    <a href="#"><img src="https://promocionmusical.es/wp-content/uploads/2016/11/xt2-810x501.jpg.pagespeed.ic.KC5eY6JV9r.jpg" alt="Image" class="img-fluid"></a>

                </div>
            </div>
        </div>
    </div>
</div>


