@model ClienteMonument.Models.Usuario

@{
    ViewData["Title"] = "ActualizarUsuario";
}
@{
    Usuario user = ViewData["USER"] as Usuario;
}

<h1 style="margin-left:40%">ActualizarUsuario</h1>
<hr />

<div class="ml-auto" data-aos="fade-up" data-aos-delay="200" style="margin-left:50%">
    <div style="background-color:#e6e2d3">
        <div style="margin-left:40%">
            <form asp-action="ActualizarUsuario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none">
                    <label asp-for="IdUser" class="control-label"></label>
                    <input asp-for="@user.IdUser" class="form-control" style="width: 50%" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreUs" class="control-label"></label>
                    <input asp-for="@user.NombreUs" class="form-control" style="width: 50%"/>
                    <span asp-validation-for="NombreUs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="@user.Email" class="form-control" style="width: 50%" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NickName" class="control-label"></label>
                    <input asp-for="@user.NickName" class="form-control" style="width: 50%" />
                    <span asp-validation-for="NickName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary text-white px-4" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

