
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label>
        Nickname:
    </label>
    <input type="text" class="form-control" name="nickname" />
    <label>
        Password:
    </label>
    <input type="text" class="form-control" name="password" />
    <button type="submit" class="btn btn-success">Log in</button>
</form>

<h1>@ViewData["Mensaje"]</h1>