
@{
    ViewData["Title"] = "PaginaPpal";
}


<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay" style="background-image: url('https://i.pinimg.com/originals/58/46/58/5846587308c7ebad164efd5b1c462acb.jpg')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Elige tu destino:</h1>
                    <p class="mb-5" style="margin-bottom:2%!important">Busca de entre más de 10.000 ciudades para descubrir los lugares más maravillosos</p>
                    @*<form method="post">*@
                        <div class="form-group d-flex">
                            @*<input class="form-control" type="text"
                                   id="ciudad" name="ciudad" 
                                   placeholder="Introduce una ciudad" />*@
                            @*<input type="submit" class="btn btn-primary text-white px-4" value="Buscar">*@
                            <a class="btn btn-primary text-white px-4" asp-area="" asp-controller="Monument" asp-action="MapaMundi"
                               style="padding:6%">Empezar</a>
                        </div>
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>
</div>